@using E_commerce.Models.ViewModel
@model CartItemViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="name" style="width: 40%;">Product Name</td>
						<td class="image" style="width: 20%;">Image</td>
						<td class="price" style="width: 10%;">Price</td>
						<td class="quantity" style="width: 20%;">Quantity</td>
						<td class="total" style="width: 10%;">Total</td>
					</tr>
				</thead>
				<tbody>
					@if(Model.CartItems.Count > 0){
						@foreach(var item in Model.CartItems){
						<tr>
							<td class="cart_description">
								<h4><a href="">@item.ProductName</a></h4>
							</td>
							<td class="cart_product">
								<img src="~/media/products/@item.Image" alt="" style="max-width:100px">
							</td>				
							<td class="cart_price">
								<p>$@item.Price</p>
							</td>
									<td>
									<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-Id="@item.ProductId"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
									<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-Id="@item.ProductId"> - </a>
									<a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-Id="@item.ProductId"> Remove </a>
									</td>
							<td class="cart_total">
								<p class="cart_total_price">$@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity*x.Price).ToString()</p>
							</td>
	@* 						<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td> *@
						</tr>
						}
						<tr>
							<td colspan="3"></td>
							<td colspan="2" class="text-right">
								<strong>Grand Total: <span style="color:#FE980F">$@Model.GrandTotal.ToString()</span></strong>
								<strong>Shipping Cost: <span style="color:#FE980F">$@Model.ShippingCost.ToString()</span></strong>
								<p><a asp-action="DeleteShippingPrice" asp-controller="Cart">Recalculate ShippingCost</a></p>
							</td>
						</tr>

						<tr>
							<div class="form-group">
								<label>Choose City</label>
								<select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
									<option value="0">Tỉnh Thành</option>
								</select>
							</div>
							<div class="form-group">
								<label>Choose District</label>
								<select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
									<option value="0">Quận Huyện</option>
								</select>
							</div>
							<div class="form-group">
								<label>Choose Sub-district</label>
								<select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
									<option value="0">Phường Xã</option>
								</select>
							</div>
							<button style="margin-bottom:10px" type="button" class="btn btn-warning btn-add-shipping">Submit</button>
						</tr>
						
						<tr>
							<td colspan="3"></td>
							<td colspan="2" class="text-right">
								<a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Clear"> Clear Cart </a>
								@if (User.Identity?.IsAuthenticated ?? false)
								{
									@if(@Model.ShippingCost <= 0)
									{
										<a disabled="disabled" style="margin-top:0px" class="btn btn-primary btn-sm" asp-controller="Checkout" asp-action="CheckOut"> Checkout </a>
										<p style="color:red">Please enter your shipping information first!</p>
									} else
									{
										<a style="margin-top:0px" class="btn btn-primary btn-sm" asp-controller="Checkout" asp-action="CheckOut"> Checkout </a>
									}

							}
							</td>
						</tr>
					}
					else
					{
						<tr>
							<td colspan="5"><h4>Your Cart is Empty</h4></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
<style>
	.text-right {
		text-align: right;
	}

	.btn-sm {
		margin-left: 10px;
	}
</style>
@section Scripts {
	<script>
		$(".btn-add-shipping").click(function () {
			var tinh = $("#tinh").find('option:selected').text();
			var quan = $("#quan").find('option:selected').text();
			var phuong = $("#phuong").find('option:selected').text();

			if (tinh == '' || quan == '' || phuong == '') {
				Swal.fire("Please choose all options.");
			} else {
				$.ajax({
					type: "POST",
					url: "@Url.Action("GetShippingPrice", "Cart")",
					data: { tinh: tinh, quan: quan, phuong: phuong},

					success: function (result) {
						if (result) {
							location.reload();
						}
					}
				});
			}
		})
	</script>
	<script>
		$(document).ready(function() {
			//Lấy tỉnh thành
			$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm',function(data_tinh){
				if(data_tinh.error==0){
				   $.each(data_tinh.data, function (key_tinh,val_tinh) {
					  $("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.full_name+'</option>');
				   });
				   $("#tinh").change(function(e){
						var idtinh=$(this).val();
						//Lấy quận huyện
						$.getJSON('https://esgoo.net/api-tinhthanh/2/'+idtinh+'.htm',function(data_quan){
							if(data_quan.error==0){
							   $("#quan").html('<option value="0">Quận Huyện</option>');
							   $("#phuong").html('<option value="0">Phường Xã</option>');
							   $.each(data_quan.data, function (key_quan,val_quan) {
								  $("#quan").append('<option value="'+val_quan.id+'">'+val_quan.full_name+'</option>');
							   });
							   //Lấy phường xã
							   $("#quan").change(function(e){
									var idquan=$(this).val();
									$.getJSON('https://esgoo.net/api-tinhthanh/3/'+idquan+'.htm',function(data_phuong){
										if(data_phuong.error==0){
										   $("#phuong").html('<option value="0">Phường Xã</option>');
										   $.each(data_phuong.data, function (key_phuong,val_phuong) {
											  $("#phuong").append('<option value="'+val_phuong.id+'">'+val_phuong.full_name+'</option>');
										   });
										}
									});
							   });

							}
						});
				   });

				}
			});
		 });
	</script>
}