@{
    ViewData["title"] = "Compare Listed";
}
<h3>List Compare</h3>

<div class="container my-5">
    <div class="row">
        @foreach (var compare_product in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">@compare_product.Product.Name</h5>
                        <p class="card-text">@Html.Raw(@compare_product.Product.Description)</p>
                        <h6 class="card-subtitle mb-2 text-muted">Price: @compare_product.Product.Price</h6>
                    </div>
                    <div class="text-center">
                        <img src="~/media/products/@compare_product.Product.Image" class="img-fluid" alt="@compare_product.Product.Name" style="max-height: 200px; object-fit: cover;" />
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="DeleteCompare" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Home" asp-route-Id="@compare_product.Compares.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        let table = new DataTable('#productTable', {
            layout: {
                topStart: {
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                }
            }
        });
    </script>
}
